@font-face {
    src: url(Inter_18pt-Bold.ttf) format("truetype");
    font-family: "Inter";
    font-weight: bold;
}

@font-face {
    src: url(Inter_18pt-Regular.ttf) format("truetype");
    font-family: "Inter";
    font-weight: normal;
}

@font-face {
    src: url(Inter_18pt-Black.ttf) format("truetype");
    font-family: "Inter";
    font-weight: 900;
}

@font-face {
    src: url(Inter_18pt-Light.ttf) format("truetype");
    font-family: "Inter";
    font-weight: lighter;
}