@import url(https://konnovegoridb.github.io/russian-travel-mate/fonts/fonts.css);

@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/page/page.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/page/__header/page__header.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/page/__lead/page__lead.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/page/__intro/page__intro.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/page/__photo-grid/page__photo-grid.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/page/__places/page__places.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/page/__cover/page__cover.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/page/__footer/page__footer.css);

@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/header/header.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/header/__change-lang/header__—Åhange-lang.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/header/__lang/_active/header__lang_active.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/header/__icon/header__icon.css);

@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/lead/lead.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/lead/__title/lead__title.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/lead/__subtitle/lead__subtitle.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/lead/__image/lead__image.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/lead/__route/lead__route.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/lead/__pic-caption/lead__pic-caption.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/lead/__title-picture/lead__title-picture.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/lead/__caption/lead__caption.css);

@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/intro/intro.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/intro/__title/intro__title.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/intro/__text/intro__text.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/intro/__info/intro__info.css);

@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/info/__text/info__text.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/info/__text-accent/info__text-accent.css);

@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/photo-grid/photo-grid.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/photo-grid/__image/photo-grid__image.css);

@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/places/places.css);

@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/place/place.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/place/__row/place__row.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/place/__title/place__title.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/place/__link/place__link.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/place/__type-link/place__type-link.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/place/__name-link/place__name-link.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/place/__image/place__image.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/place/__main-text/place__main-text.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/place/__text/place__text.css);

@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/cover/cover.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/cover/__content/cover__content.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/cover/__link/cover__link.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/cover/__title/cover__title.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/cover/__subtitle/cover__subtitle.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/cover/__image/cover__image.css);

@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/footer/footer.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/footer/__links/footer__links.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/footer/__link/footer__link.css);
@import url(https://konnovegoridb.github.io/russian-travel-mate/blocks/footer/__copy/footer__copy.css);

@import url(https://konnovegoridb.github.io/russian-travel-mate/media/media.css);