.place{
    /* display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: 152px 460px;
    gap: 48px 40px;
    width: 984px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}