.cover__content{
    width: 47%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}